{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <nav id="site-nav" class="site-nav" aria-label="Primary navigation">
      <a class="site-nav__title" href="{{ base_path }}/" target="_self">{{ site.title }}</a>
      <button class="site-nav__toggle" type="button" aria-expanded="false" aria-controls="primary-navigation-links">Menu</button>
      <div class="site-nav__links" id="primary-navigation-links">
        {% for link in site.data.navigation.main %}
          {% if link.url contains 'http' %}{% assign domain = '' %}{% else %}{% assign domain = base_path %}{% endif %}
          <a href="{{ domain }}{{ link.url }}"{% unless link.url contains 'http' %} target="_self"{% endunless %}>{{ link.title }}</a>
        {% endfor %}
      </div>
    </nav>
  </div>
</div>
